<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="UPAZ.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="UPAZ.My.MySettings.COSTUPAConnectionString" connectionString="Data Source=DESKTOP-A3CEBNV\SQLEXPRESS;Initial Catalog=COSTUPA;Persist Security Info=True;User ID=sa;Password=12345;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <UPAZ.My.MySettings>
            <setting name="LastUserName" serializeAs="String">
                <value>Adm</value>
            </setting>
            <setting name="URLBase" serializeAs="String">
                <value>http://192.168.0.42:80</value>
            </setting>
            <setting name="UPFont" serializeAs="String">
                <value>Arial, 24pt</value>
            </setting>
            <setting name="ProjectSelectedId" serializeAs="String">
                <value>0</value>
            </setting>
        </UPAZ.My.MySettings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>